h1 {
	color: white;
	background-color: black;
	padding: 0.5em;
}

h2 {
	color: white;
	background-color: black;
	padding: 0.5em;
}

h3 {
    	color: white;
    	background-color: black;
    	padding: 0.5em;
}

h4 {
	color: white;
	background-color: black;
	padding: 0.5em;
}

